WEBHOOK_EspoCRM_MSG_TAREFAS.json
{
  "name": "Consulta_Update_Tarefas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4169860961d23e865edeb31231aa5a01",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2560,
        0
      ],
      "id": "aeb25e42-0e00-4f83-8af5-798eed87ad62",
      "name": "Webhook",
      "webhookId": "3d61b05a-7639-48af-bc5f-e5b8d30856e9"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "account",
          "mode": "list",
          "cachedResultName": "account"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('Webhook').item.json.body[0].parentName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1872,
        16
      ],
      "id": "eca0bcbc-3a14-499b-aa2c-2565ec8683bd",
      "name": "Empresa",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "phone_number",
          "mode": "list",
          "cachedResultName": "phone_number"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.phone_number_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -928,
        0
      ],
      "id": "3e20d9dd-6cb5-48af-97a2-5514fa896f69",
      "name": "Telefone_Cliente",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -768,
        0
      ],
      "id": "58fb7896-6ea7-4385-ae65-120e4bc8597e",
      "name": "Tarefa",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "note",
          "mode": "list",
          "cachedResultName": "note"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "parent_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -624,
        0
      ],
      "id": "7c19abd9-45b8-4b18-ae85-c3d92ac5e109",
      "name": "Posts",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -272,
        288
      ],
      "id": "2fb249cb-a2aa-4ae2-92d5-de5ecd33c28b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        -160
      ],
      "id": "c08cdd3e-c015-4072-9a2f-c9a0a35f00b1",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -48,
        192
      ],
      "id": "871046ac-ede0-450a-bb1c-7e593047548d",
      "name": "Tarefa1",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Posts').item.json.msg_whatsApp_enviada }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "e57ab529-3fc9-44d3-9ea6-4372d3f529b5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não_Enviada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f36815b-21a9-47a4-8b3d-a9d33c00b35d",
                    "leftValue": "={{ $('Posts').item.json.msg_whatsApp_enviada }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Enviado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        128,
        192
      ],
      "id": "3a162880-6e5e-40d2-ac8d-6c8daaa51a7f",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        16
      ],
      "id": "e5579ca8-87e5-428b-9491-271d54fa7beb",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        192
      ],
      "id": "1dc7a6a4-9167-4526-a7db-d733b1f4b9c8",
      "name": "Wait3",
      "webhookId": "d0fbb013-f6ec-4193-84ba-c08ec1d67995"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        176
      ],
      "id": "6609a936-9a9c-483b-bafc-e539e93ba51b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        800,
        192
      ],
      "id": "0293bd53-944c-4d6e-89cf-b99f01b0035a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591996293532\",\n  \"text\": \"*Responsável:* {{ $('DADOS_INICIAIS').item.json.usuarioNOME_Modificador }}\\n*Criou uma Tarefa sem cadastrar o Responsavel_Pela-Empresa*\\n*Colocar o numero do WhatsApp correto!*\\n*Mensagem:* Verificar a tarefa e falar com colaborador!!!\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}\"\n}\n\n\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        1424
      ],
      "id": "31d41f50-4412-4504-88f6-58a5a6b48cbc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591996293532\",\n  \"text\": \"*Responsável:* {{ $('DADOS_INICIAIS').item.json.usuarioNOME_Modificador }}\\n*Criou uma Tarefa sem Anexar a Empresa*\\n*Mensagem:* Verificar a tarefa e falar com colaborador!!!\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        -1264
      ],
      "id": "7ba28451-1b37-4fb3-9434-7ee73f2bb3ac",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "067934b7-c8cb-4992-a181-ec7dd7c7ebe9",
              "name": "id_tarefa_modificada",
              "value": "={{ $json.body[0].modifiedById }}",
              "type": "string"
            },
            {
              "id": "2509b3a7-3ea4-44b4-bf9c-f74547314556",
              "name": "id_tarefa_criada",
              "value": "={{ $json.body[0].id }}",
              "type": "string"
            },
            {
              "id": "64ad82d5-5c1c-4f57-9127-1895abadfe53",
              "name": "di_cliente",
              "value": "={{ $json.body[1].id }}",
              "type": "string"
            },
            {
              "id": "416e3ef0-f35c-41f2-880f-f42f6b504e4a",
              "name": "descrição_tarefa",
              "value": "={{ $json.body[0].description }}",
              "type": "string"
            },
            {
              "id": "19a41b90-d21f-404d-8736-b1acc5028996",
              "name": "usuarioID_Atribuido",
              "value": "={{ $json.body[0].assignedUserId }}",
              "type": "string"
            },
            {
              "id": "3d48bf4a-146c-4e8f-b9f4-18c2967e8c20",
              "name": "usuarioNOME_Atribuido",
              "value": "={{ $json.body[0].assignedUserName }}",
              "type": "string"
            },
            {
              "id": "bd32b066-36c8-43ed-aef8-5d83f28a3855",
              "name": "usuarioID_Modificador",
              "value": "={{ $json.body[0].modifiedById }}",
              "type": "string"
            },
            {
              "id": "6edf798b-bfcd-4f9e-ae59-29695a38a128",
              "name": "usuarioNOME_Modificador",
              "value": "={{ $json.body[0].modifiedByName }}",
              "type": "string"
            },
            {
              "id": "487b9711-604d-48f4-a80e-c0ac0e2fdc65",
              "name": "usuarioID_Criador",
              "value": "={{ $json.body[0].id }}",
              "type": "string"
            },
            {
              "id": "73ba0d6b-e969-4ad2-aab0-3ed0f24fe0f6",
              "name": "idEmpresa",
              "value": "={{ $json.body[0].accountId }}",
              "type": "string"
            },
            {
              "id": "d180a3fa-3a76-4bc7-8a0a-f2ca280ea6d2",
              "name": "nomeEmpresa",
              "value": "={{ $json.body[0].accountName }}",
              "type": "string"
            },
            {
              "id": "bad151a2-8ab4-468b-a75f-eac53ff5966a",
              "name": "post",
              "value": "={{ $json.body[0].followersIds[0] }}",
              "type": "string"
            },
            {
              "id": "553b5a79-b5cb-4166-8c3f-d4b23edcbbe9",
              "name": "nomeCliente",
              "value": "={{ $json.body[0].parentName }}",
              "type": "string"
            },
            {
              "id": "0e0acdc8-3a20-449b-84f8-6e79623980a3",
              "name": "usuarioCriador",
              "value": "={{ $json.body[0].followersNames['67b616e69b27e690f'] }}",
              "type": "string"
            },
            {
              "id": "b456c911-1ccd-4973-bdbc-a38b2e14b3dd",
              "name": "instancia",
              "value": "jota",
              "type": "string"
            },
            {
              "id": "26aeee72-9f50-4712-9e77-e529077b9c6a",
              "name": "appi_evolution",
              "value": "https://evolution-evolution-api.it1327.easypanel.host/message/sendText/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2336,
        0
      ],
      "id": "c2673071-0bec-4945-b8a3-bb98a451050e",
      "name": "DADOS_INICIAIS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c7ba984e-82f1-4bab-b7c3-f75a622a3827",
              "leftValue": "={{ $('Webhook').item.json.body[0].parentName }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2112,
        0
      ],
      "id": "20602e3c-e637-49f4-a11d-464a9f4bc8c7",
      "name": "SI_EMPRESA_EXISTIR"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1024,
        -1264
      ],
      "id": "3bc2caca-7e24-4fab-b304-caa126e7e816",
      "name": "Tarefa_Relacionada",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "contact",
          "mode": "list",
          "cachedResultName": "contact"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "account_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1696,
        16
      ],
      "id": "4a101dbb-385f-41ab-b3f4-73d9a618ee8c",
      "name": "Responsavel",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05ac6ea2-45d0-483f-80d2-bab1c03c5e0f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        16
      ],
      "id": "192d3cdd-aff6-41d3-a5f5-4500387c9a2e",
      "name": "SE_RESPONSAVEL_EXISTE"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "entity_phone_number",
          "mode": "list",
          "cachedResultName": "entity_phone_number"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "entity_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1104,
        0
      ],
      "id": "72c348c6-d096-455b-8fec-552bc5798316",
      "name": "RELACAO_TELEFONE",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e79fc09c-f86d-42de-b9c7-7220aa0b4945",
              "leftValue": "={{ $json.msg_whatsApp_enviada }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        0
      ],
      "id": "761d9de6-ac1a-47eb-80f3-228fed3bd877",
      "name": "SE_MSG_ENVIADA"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "note",
          "mode": "list",
          "cachedResultName": "note"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $('Posts').item.json.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "msg_whatsApp_enviada",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1504,
        192
      ],
      "id": "86d71362-5600-4633-bebf-f1dfbb716351",
      "name": "ATUALIZA_MSG_ENVIADA",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Telefone_Cliente').item.json.numeric }}\",\n  \"text\": \"*JOTA CONTABILIDADE*\\n*_Comunica_*\\n*=============*\\n*Empresa :* {{ $('Empresa').item.json.name.replace(/(\\r\\n|\\n|\\r|\\t)/g, ' ') }}\\n*Criador :* {{ $('DADOS_INICIAIS').item.json.usuarioCriador }}\\n*Responsável :* {{ $('DADOS_INICIAIS').item.json.usuarioNOME_Modificador }}\\n*Tarefa :* {{ $('Tarefa').item.json.name }}\\n*Descrição :* {{ $('Tarefa').item.json.description.split(/(\\r\\n|\\n|\\r)/).filter(line => line.trim() !== '').join('\\\\n') }}\\n*Link :* https://jotaempresas.com/crm/#Task/view/{{ $('Tarefa').item.json.id }}\\n*===================*\\n_CARO CLIENTE *{{ $('Responsavel').item.json.first_name }} {{ $('Responsavel').item.json.last_name }}* VEJA A MENSAGEM ABAIXO_\\nWhatsApp (---)\\n*Entre em Contato :* https://wa.me/5591996293532?text={{ encodeURIComponent('Gostaria de saber sobre a *Tarefa :* ' + $('Tarefa').item.json.name) }}\"\n}\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        32
      ],
      "id": "17f107d3-d69c-4a57-9899-c0bff857f235",
      "name": "ENVIA_WHATSAPP"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        400,
        448
      ],
      "id": "8683f34b-8b43-4c60-8156-272461c413ad",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "note",
          "mode": "list",
          "cachedResultName": "note"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $('Posts').item.json.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "msg_whatsApp_enviada",
              "value": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        32,
        -160
      ],
      "id": "adce0c54-1824-47b2-a1ce-4c8f5670208b",
      "name": "ATUALIZA_MSG_ENVIADA_2",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57cdef69-0a47-41bc-8535-e97734f306fa",
              "leftValue": "={{ $('Posts').item.json.type }}",
              "rightValue": "Post",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        -32
      ],
      "id": "5d3fbc2e-e737-45b2-8445-86e4c50f21a8",
      "name": "!=Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "489dc194-0851-423f-8276-db06678ba99d",
              "name": "post",
              "value": "={{ $('Posts').item.json.post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        0
      ],
      "id": "49d26f72-2927-49b6-aa78-673a53876007",
      "name": "Posts_0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b86e8c84-5dd8-4e6d-a1a1-e5e2ae9e129c",
              "leftValue": "={{ $json.post }}",
              "rightValue": "={{ $json[\"post\"].match(/\\([^()]+\\)/)[0] }}",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        0
      ],
      "id": "66fefdb7-9e00-4db7-92d4-a9342d663420",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        688,
        -176
      ],
      "id": "072362ae-181f-4715-9339-fd890d9013f8",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Tarefa_Relacionada').item.json.modified_by_id }}",
                    "rightValue": "67b61ea7b9fa81c1c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6844e2c8-32a1-4c2b-a203-8ff0062760cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tatiana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4086615b-c6aa-4ca6-b402-9aa5efe4fd31",
                    "leftValue": "={{ $('Tarefa_Relacionada').item.json.modified_by_id }}",
                    "rightValue": "685540031fb39778a",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "André"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "360d7ab6-4eb2-4b2c-b63f-f8a34728808f",
                    "leftValue": "={{ $('Tarefa_Relacionada').item.json.modified_by_id }}",
                    "rightValue": "67b620584847c6af9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gildson"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29bf411f-b4e5-41d2-ac45-69dfc5a36b8a",
                    "leftValue": "={{ $('Tarefa_Relacionada').item.json.modified_by_id }}",
                    "rightValue": "67b61f55043457906",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suely"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        -1696
      ],
      "id": "797919a8-8646-4115-8229-de99b2e126e2",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        176,
        -1920
      ],
      "id": "a2a864bc-1423-46bf-894b-f65981b160d8",
      "name": "Tarefa_Relacionada1",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        176,
        -1728
      ],
      "id": "25804fc4-9fe2-4c3b-8d90-53375499bda5",
      "name": "Tarefa_Relacionada2",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        176,
        -1568
      ],
      "id": "06da466d-d9a5-4049-996a-1e4c6b91c3e4",
      "name": "Tarefa_Relacionada3",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        -1376
      ],
      "id": "8f2da5a8-f05e-402f-b008-bb2765a275a6",
      "name": "Tarefa_Relacionada4",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591984832666\",\n  \"text\": \"*Tatiana* - Tarefa : {{ $json.name }}; Anexada sem Empresa cadastrada na tarefa, verificar!!!\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -1920
      ],
      "id": "5937e1a4-2e27-4ee4-b31b-aaa7b8990a5e",
      "name": "tatiana"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591985614271\",\n  \"text\": \"*André* - Tarefa : {{ $json.name }}; Anexada sem Empresa cadastrada na tarefa, verificar!!!\"\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -1728
      ],
      "id": "fb582eff-ad30-408b-b867-55312fe04e22",
      "name": "andre"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591980844622\",\n  \"text\": \"*Gildson* - Tarefa : {{ $json.name }}; Anexada sem Empresa cadastrada na tarefa, verificar!!!\"\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -1568
      ],
      "id": "28ebff34-7d86-4e92-b34c-d3b2dce6d7e8",
      "name": "Gildson"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591991129575\",\n  \"text\": \"*Suely* - Tarefa : {{ $json.name }}; Anexada sem Empresa cadastrada na tarefa, verificar!!!\"\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        -1376
      ],
      "id": "09cca66a-d9f7-4060-9e7c-130537814c9c",
      "name": "Suely"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Empresa').item.json.modified_by_id }}",
                    "rightValue": "67b61ea7b9fa81c1c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6844e2c8-32a1-4c2b-a203-8ff0062760cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tatiana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4086615b-c6aa-4ca6-b402-9aa5efe4fd31",
                    "leftValue": "={{ $('Empresa').item.json.modified_by_id }}",
                    "rightValue": "685540031fb39778a",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "André"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "360d7ab6-4eb2-4b2c-b63f-f8a34728808f",
                    "leftValue": "={{ $('Empresa').item.json.modified_by_id }}",
                    "rightValue": "67b620584847c6af9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gildson"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29bf411f-b4e5-41d2-ac45-69dfc5a36b8a",
                    "leftValue": "={{ $('Empresa').item.json.modified_by_id }}",
                    "rightValue": "67b61f55043457906",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suely"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        992
      ],
      "id": "9e1d8899-001b-40b4-9bdd-2b11d8ba5438",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        64,
        768
      ],
      "id": "89dae407-0b45-45b7-9f6b-f55486b10fb3",
      "name": "Tarefa_Relacionada5",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        960
      ],
      "id": "70496da9-d573-4270-b0c3-7ce7d5f99f2a",
      "name": "Tarefa_Relacionada6",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        1120
      ],
      "id": "49acc74f-708c-4a8a-aafd-f0e68a3ad28d",
      "name": "Tarefa_Relacionada7",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        112,
        1312
      ],
      "id": "5a6cf162-8ab6-4b72-a4f6-316222c2740e",
      "name": "Tarefa_Relacionada8",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591984832666\",\n \"text\": \"*Responsável:* Tatiana\\n*Tarefa:* {{ $json.name }}\\n*Mensagem:*Empresa {{ $('Empresa').item.json.name }} está sem Responsavel cadastrado*\\n*verificar!!!*\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $json.id }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        768
      ],
      "id": "1a261e7a-6e6c-4848-92a1-650f12a67a23",
      "name": "tatiana1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591985614217\",\n \"text\": \"*Responsável:* André\\n*Tarefa:* {{ $json.name }}\\n*Mensagem:*Empresa {{ $('Empresa').item.json.name }} está sem Responsavel cadastrado*\\n*verificar!!!*\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $json.id }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        960
      ],
      "id": "f19e9354-4e02-4f54-86af-292f7b6fa75f",
      "name": "andre1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591980844622\",\n  \"text\": \"*Responsável:* Gildson\\n*Tarefa:* {{ $json.name }}\\n*Mensagem:*Empresa {{ $('Empresa').item.json.name }} está sem Responsavel cadastrado*\\n*verificar!!!*\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $json.id }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        1120
      ],
      "id": "d46629e8-5e5e-45cc-9be5-55d02daeffe8",
      "name": "Gildson1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591991129575\",\n  \"text\": \"*Responsável:* Suely\\n*Tarefa:* {{ $json.name }}\\n*Mensagem:*Empresa {{ $('Empresa').item.json.name }} está sem Responsavel cadastrado*\\n*verificar!!!*\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $json.id }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1312
      ],
      "id": "1237e24c-e237-4a32-af51-08e71d2c968a",
      "name": "Suely1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fa89875-90ad-42be-b66a-29d6f3c54b8b",
              "leftValue": "={{ $('Tarefa_Relacionada').item.json.modified_by_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -1264
      ],
      "id": "d8ef19ae-8165-4599-9ec5-8280f8a2692b",
      "name": "TarefaNova"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Tarefa_Relacionada').item.json.created_by_id }}",
                    "rightValue": "67b61ea7b9fa81c1c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6844e2c8-32a1-4c2b-a203-8ff0062760cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tatiana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4086615b-c6aa-4ca6-b402-9aa5efe4fd31",
                    "leftValue": "={{ $('Tarefa_Relacionada').item.json.created_by_id }}",
                    "rightValue": "685540031fb39778a",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "André"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "360d7ab6-4eb2-4b2c-b63f-f8a34728808f",
                    "leftValue": "={{ $('Tarefa_Relacionada').item.json.created_by_id }}",
                    "rightValue": "67b620584847c6af9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gildson"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29bf411f-b4e5-41d2-ac45-69dfc5a36b8a",
                    "leftValue": "={{ $('Tarefa_Relacionada').item.json.created_by_id }}",
                    "rightValue": "67b61f55043457906",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suely"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        -880
      ],
      "id": "f030fe4e-6179-431c-b632-82f3cf3fed33",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        -1088
      ],
      "id": "6cfe0565-5a44-4313-bce9-b670ce011f28",
      "name": "Tarefa_Relacionada9",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        -912
      ],
      "id": "e8101608-bdf6-4d84-9910-eeabb94ad6d7",
      "name": "Tarefa_Relacionada10",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        -752
      ],
      "id": "846246fb-e63f-42aa-b367-e0d9959293fb",
      "name": "Tarefa_Relacionada11",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        208,
        -560
      ],
      "id": "cbf573a5-41ab-4afb-9048-028497953e1a",
      "name": "Tarefa_Relacionada12",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591984832666\",\n  \"text\": \"*Tatiana* - Tarefa : {{ $json.name }}; Anexada sem Empresa cadastrada na tarefa, verificar!!!\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -1088
      ],
      "id": "b81dcb98-a6b6-467b-aef9-2094ecc70039",
      "name": "tatiana2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591985614271\",\n  \"text\": \"*André* - Tarefa : {{ $json.name }}; Anexada sem Empresa cadastrada na tarefa, verificar!!!\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -912
      ],
      "id": "3c24b181-b0b0-44ad-a430-fbe0f54deb30",
      "name": "andre2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591980844622\",\n  \"text\": \"*Gildson* - Tarefa : {{ $json.name }}; Anexada sem Empresa cadastrada na tarefa, verificar!!!\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -752
      ],
      "id": "f7c4d7db-959b-4830-b8ee-20312e9b7c10",
      "name": "Gildson2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591991129575\",\n  \"text\": \"*Suely* - Tarefa : {{ $json.name }}; Anexada sem Empresa cadastrada na tarefa, verificar!!!\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -560
      ],
      "id": "9c40a4c5-f854-499f-971b-b0705d0417f3",
      "name": "Suely2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Empresa').item.json.created_by_id }}",
                    "rightValue": "67b61ea7b9fa81c1c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6844e2c8-32a1-4c2b-a203-8ff0062760cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tatiana"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4086615b-c6aa-4ca6-b402-9aa5efe4fd31",
                    "leftValue": "={{ $('Empresa').item.json.created_by_id }}",
                    "rightValue": "685540031fb39778a",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "André"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "360d7ab6-4eb2-4b2c-b63f-f8a34728808f",
                    "leftValue": "={{ $('Empresa').item.json.created_by_id }}",
                    "rightValue": "67b620584847c6af9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gildson"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29bf411f-b4e5-41d2-ac45-69dfc5a36b8a",
                    "leftValue": "={{ $('Empresa').item.json.created_by_id }}",
                    "rightValue": "67b61f55043457906",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suely"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        1712
      ],
      "id": "b9aff416-e592-4521-8c5f-b06d419baff5",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        1504
      ],
      "id": "f7d0ab5d-ad39-4f3b-904e-b0e507795240",
      "name": "Tarefa_Relacionada13",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        1680
      ],
      "id": "562a4153-6e43-4efc-b54e-d413f45176cd",
      "name": "Tarefa_Relacionada14",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        1840
      ],
      "id": "02228d25-7807-4bf2-8722-9a5a7611aeab",
      "name": "Tarefa_Relacionada15",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('DADOS_INICIAIS').item.json.id_tarefa_criada }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        112,
        2032
      ],
      "id": "7b885a82-7bcc-4ee6-95ac-941f768259b2",
      "name": "Tarefa_Relacionada16",
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ICMrIGWHLWdWxlrE",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591984832666\",\n  \"text\": \"*Responsável:* Tatiana\\n*Tarefa:* {{ $json.name }}\\n*Mensagem:*Empresa {{ $('Empresa').item.json.name }} está sem Responsavel cadastrado*\\n*verificar!!!*\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $json.id }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1504
      ],
      "id": "b25eb13c-469d-4fc9-85ed-126bbc12a376",
      "name": "tatiana3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\"text\": \"*Responsável:* André\\n*Tarefa:* {{ $json.name }}\\n*Mensagem:*Empresa {{ $('Empresa').item.json.name }} está sem Responsavel cadastrado*\\n*verificar!!!*\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $json.id }}\"",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1680
      ],
      "id": "cac50ea4-c380-4fba-a643-869ac9e447e2",
      "name": "andre3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591980844622\",\n  \"text\": \"*Responsável:* Gildson\\n*Tarefa:* {{ $json.name }}\\n*Mensagem:*Empresa {{ $('Empresa').item.json.name }} está sem Responsavel cadastrado*\\n*verificar!!!*\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $json.id }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1840
      ],
      "id": "5b4618ac-4007-459d-9494-b0775bd4dc5f",
      "name": "Gildson3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591991129575\",\n \"text\": \"*Responsável:* Suely\\n*Tarefa:* {{ $json.name }}\\n*Mensagem:*Empresa {{ $('Empresa').item.json.name }} está sem Responsavel cadastrado*\\n*verificar!!!*\\n*Link:* https://jotaempresas.com/crm/#Task/view/{{ $json.id }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        2032
      ],
      "id": "3d884c60-ba30-4883-a4a1-cc63266200e5",
      "name": "Suely3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8fa89875-90ad-42be-b66a-29d6f3c54b8b",
              "leftValue": "={{ $('Empresa').item.json.modified_by_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        1424
      ],
      "id": "73231c0b-36e6-468f-b866-c4279c2b483b",
      "name": "TarefaNova2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ef6b616-be4e-49da-865d-d1b66b5100c8",
              "name": "msg",
              "value": "={{ $json.post }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -64
      ],
      "id": "92289f29-cfb4-4e3f-96ce-13c47bc3a53c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5591996293532\",\n  \"text\": \"*Empresa :* {{ $('Empresa').item.json.name.replace(/(\\r\\n|\\n|\\r|\\t)/g, ' ') }}\\n*Criador :* {{ $('DADOS_INICIAIS').item.json.usuarioCriador }}\\n*Responsável :* {{ $('DADOS_INICIAIS').item.json.usuarioNOME_Atribuido }}\\n*Tarefa :* {{ $('Tarefa').item.json.name }}\\n*Descrição :* {{ $('Tarefa').item.json.description.split(/(\\r\\n|\\n|\\r)/).filter(line => line.trim() !== '').join('\\\\n') }}\\n*Link :* https://jotaempresas.com/crm/#Task/view/{{ $('Tarefa').item.json.id }}\\n*===================*\\n*Mensagem Enviada :* {{ $json.post.split(/(\\r\\n|\\n|\\r)/).filter(line => line.trim() !== '').map(line => line.match(/\\(.*\\)/) ? '*WhatsApp :* ' + line.match(/\\(.*\\)/)[0] : line).join('\\\\n') }}\"\n}\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        192
      ],
      "id": "ffd35d54-dce4-47ff-b30a-ebfa0b7dd083",
      "name": "tatiana4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $json.appi_evolution }}{{ $json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"number\": \"5591996293532\", \"text\": \"*JOTA CONTABILIDADE*\\n*_Comunica_*\\n*=============*\\n*Empresa :* {{ $('Empresa').item.json.name.replace(/(\\r\\n|\\n|\\r|\\t)/g, ' ') }}\\n*Criador :* {{ $('DADOS_INICIAIS').item.json.usuarioCriador }}\\n*Responsável :* {{ $('DADOS_INICIAIS').item.json.usuarioNOME_Atribuido }}\\n*Tarefa :* {{ $('Tarefa').item.json.name }}\\n*Descrição :* {{ $('Tarefa').item.json.description.split(/(\\r\\n|\\n|\\r)/).filter(line => line.trim() !== '').join('\\\\n') }}\\n*Link :* https://jotaempresas.com/crm/#Task/view/{{ $('Tarefa').item.json.id }}\\n*===================*\\n_CARO CLIENTE *{{ $('Responsavel').item.json.first_name }} {{ $('Responsavel').item.json.last_name }}* VEJA A MENSAGEM ABAIXO_\\n*WhatsApp :* {{ $('Posts_0').item.json.post.replace(/\\(.*?\\)/g, '').trim() }}\\n*Entre em Contato :* https://wa.me/5591996293532?text={{ encodeURIComponent('Gostaria de saber sobre a *Tarefa :* ' + $('Tarefa').item.json.name) }}\" }",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        192
      ],
      "id": "2fe5af6b-a254-45e8-a834-4059582aba0d",
      "name": "ENVIA_WHATSAPP1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "DADOS_INICIAIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empresa": {
      "main": [
        [
          {
            "node": "Responsavel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telefone_Cliente": {
      "main": [
        [
          {
            "node": "Tarefa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa": {
      "main": [
        [
          {
            "node": "Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts": {
      "main": [
        [
          {
            "node": "SE_MSG_ENVIADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Posts_0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "tatiana4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS_INICIAIS": {
      "main": [
        [
          {
            "node": "SI_EMPRESA_EXISTIR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SI_EMPRESA_EXISTIR": {
      "main": [
        [
          {
            "node": "Tarefa_Relacionada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responsavel": {
      "main": [
        [
          {
            "node": "SE_RESPONSAVEL_EXISTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE_RESPONSAVEL_EXISTE": {
      "main": [
        [
          {
            "node": "RELACAO_TELEFONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RELACAO_TELEFONE": {
      "main": [
        [
          {
            "node": "Telefone_Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SE_MSG_ENVIADA": {
      "main": [
        [
          {
            "node": "!=Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATUALIZA_MSG_ENVIADA": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIA_WHATSAPP": {
      "main": [
        []
      ]
    },
    "ATUALIZA_MSG_ENVIADA_2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "!=Post": {
      "main": [
        [
          {
            "node": "ATUALIZA_MSG_ENVIADA_2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts_0": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "TarefaNova",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada1": {
      "main": [
        [
          {
            "node": "tatiana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Tarefa_Relacionada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada2": {
      "main": [
        [
          {
            "node": "andre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada3": {
      "main": [
        [
          {
            "node": "Gildson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada4": {
      "main": [
        [
          {
            "node": "Suely",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Tarefa_Relacionada5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada5": {
      "main": [
        [
          {
            "node": "tatiana1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada6": {
      "main": [
        [
          {
            "node": "andre1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada7": {
      "main": [
        [
          {
            "node": "Gildson1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada8": {
      "main": [
        [
          {
            "node": "Suely1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "TarefaNova2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Tarefa_Relacionada9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada9": {
      "main": [
        [
          {
            "node": "tatiana2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada10": {
      "main": [
        [
          {
            "node": "andre2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada11": {
      "main": [
        [
          {
            "node": "Gildson2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada12": {
      "main": [
        [
          {
            "node": "Suely2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TarefaNova": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Tarefa_Relacionada13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tarefa_Relacionada16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada13": {
      "main": [
        [
          {
            "node": "tatiana3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada14": {
      "main": [
        [
          {
            "node": "andre3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada15": {
      "main": [
        [
          {
            "node": "Gildson3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tarefa_Relacionada16": {
      "main": [
        [
          {
            "node": "Suely3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TarefaNova2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "tatiana4": {
      "main": [
        [
          {
            "node": "ENVIA_WHATSAPP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIA_WHATSAPP1": {
      "main": [
        [
          {
            "node": "ATUALIZA_MSG_ENVIADA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15bf0b3c-f8ec-41d2-bf89-42347016efe6",
  "meta": {
    "instanceId": "8d6a81903df25a55a6d6de4c95daa350b74c6e400ef38aa531aa16f227a14a4d"
  },
  "id": "eiUmoB6qVXNU7Qhy",
  "tags": []
}