WHATSAPP_MSG_TEXT_AUDIO_GRUPO.json
{
  "name": "WHATSAPP_MSG_TEXT_AUDIO_GRUPO",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.data[0].numeroInstancia }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3776,
        -368
      ],
      "id": "c64ad665-f307-4846-9941-94131d5b4092",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3232,
        -352
      ],
      "id": "ddfad49e-2f0a-4445-a394-10208cecb8f4",
      "name": "Wait",
      "webhookId": "f20503cc-a845-42ef-8c5c-0ca1608feb56"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3200,
        -800
      ],
      "id": "f7591ff9-6755-43b8-b2f0-3315ccffa969",
      "name": "Nada a Fazer"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('camposIniciais').item.json.dados.menssageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "afe06d4a-a4c6-4248-ad9e-4ca8df286a8b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "525dca6c-905f-4b95-8d06-c2bdeaa85d14",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.data[0].minetype }}",
                    "rightValue": "audio/ogg; codecs=opus",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51932423-f26d-4ad4-8db3-dc1c4a1edf0c",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.data[0].minetype }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aer_text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -928,
        -112
      ],
      "id": "121faa60-c291-4580-a412-508774fce9c8",
      "name": "TipoMSG",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16d60689-a259-4617-a38f-8267ce535b69",
              "name": "dados.camposIniciais",
              "value": "={{ $json.data[0].camposIniciais }}",
              "type": "string"
            },
            {
              "id": "669aaa4f-ad0f-4982-906a-7c7a129adda2",
              "name": "dados.menssageType",
              "value": "={{ $json.data[0].menssageType }}",
              "type": "string"
            },
            {
              "id": "249b28ed-8ded-4946-943d-00c3990b3fad",
              "name": "dados.NumeroCliente",
              "value": "={{ $json.data[0].NumeroCliente }}",
              "type": "string"
            },
            {
              "id": "dce5099c-c72b-47fc-9a3c-a5e861fed7c6",
              "name": "dados.numeroInstancia",
              "value": "={{ $json.data[0].numeroInstancia.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "8f67777c-a73d-4362-a263-5a1580739290",
              "name": "dados.Mensagem",
              "value": "={{ $json.data[0].Mensagem }}",
              "type": "string"
            },
            {
              "id": "abcb55cd-c3e3-4aa4-9f20-f0fe7178af30",
              "name": "api_Evolution",
              "value": "={{ $json.data[0].api_Evolution }}",
              "type": "string"
            },
            {
              "id": "8e948c6f-29d1-4b08-b8cb-f0f24d4d2282",
              "name": "instancia",
              "value": "={{ $json.data[0].instancia }}",
              "type": "string"
            },
            {
              "id": "e1f46bb2-ef0b-4695-9d73-c511b463b9e1",
              "name": "base64",
              "value": "={{ $json.data[0].base64 }}",
              "type": "string"
            },
            {
              "id": "583b26fb-461b-424f-89a2-c98b3c56c333",
              "name": "usuario_enviou_msg",
              "value": "={{ $json.data[0].usuario_enviou_msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5456,
        304
      ],
      "id": "c5a3cabb-41f1-4113-a834-b09f2affb9aa",
      "name": "camposIniciais"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1984,
        -576
      ],
      "id": "67fef47b-4ba7-4fad-b5d9-e0eebf2126af",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4896,
        -560
      ],
      "id": "577624cf-f78d-4431-8237-a758d3fc11de",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        5088,
        -528
      ],
      "id": "d8f3363d-fc91-4f33-a804-d94389edf3a9"
    },
    {
      "parameters": {
        "jsCode": "const resposta = $json[\"resposta\"] || \"\";\n\n// Dividir apenas por parágrafos duplos (evita picotar CNAE e números internos)\nconst partes = resposta\n  .split(/\\n\\s*\\n/) // divide só quando há linha em branco\n  .map(p => p.trim())\n  .filter(Boolean);\n\nreturn [\n  {\n    json: { responses: partes }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4368,
        -560
      ],
      "id": "1476d879-b69e-4d5e-a40d-1b81d8f6fcf4",
      "name": "Codigo para Separar uma mensagem longa em vria menores"
    },
    {
      "parameters": {
        "fieldToSplitOut": "responses",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4624,
        -560
      ],
      "id": "5bd057f0-85b8-4d98-ad74-4656a47324d8",
      "name": "Split Out- envia uma a uma"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').item.json.api_Evolution }}/message/sendText/{{ $('camposIniciais').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('When Executed by Another Workflow').item.json.data[0].id_grupo }}"
            },
            {
              "name": "text",
              "value": "={{ $json.responses }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5296,
        -544
      ],
      "id": "4f10ecd2-90d5-409f-92c8-4cfc4fd106a5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5008,
        -768
      ],
      "id": "a5828417-b2e7-4414-b6c5-f993146d0f93",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5552,
        -544
      ],
      "id": "18a91277-62a7-498a-a36a-7b3c2437fec6",
      "name": "Wait3",
      "webhookId": "4dcbf335-2ca1-48b5-b24f-2ddd0eb404a6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de160a1c-94b3-4220-8f15-5aa7067d4489",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.data[0].fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5232,
        304
      ],
      "id": "66702f68-ea74-466f-8ce1-84b951572005",
      "name": "Se a MSG e minha ou do Cliente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "828ca079-8568-4583-bf01-8b51401b5993",
              "leftValue": "={{ $json.created_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3840,
        320
      ],
      "id": "09a3e5fa-9847-4e2c-85dc-d372de0362fd",
      "name": "Empresa existe"
    },
    {
      "parameters": {
        "tableId": "Tbl_Empresas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome_Razao",
              "fieldValue": "={{ $('desativar').item.json.body.instance }}"
            },
            {
              "fieldId": "Telefone",
              "fieldValue": "={{ $('desativar').item.json.body.sender.split('@')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3632,
        592
      ],
      "id": "4e4a2be8-e443-4da8-a501-c4962302c96e",
      "name": "CriarEmpresa",
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Tbl_WhatsApp_Cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "keyValue": "={{ $('ConsultaCliente').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3472,
        288
      ],
      "id": "13c7a802-4a7f-427d-8b9f-a6c9386979f9",
      "name": "Consulta Cliente",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "Tbl_WhatsApp_Msg_Clientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "key_numero_cliente",
              "fieldValue": "={{ $('ConsultaCliente').item.json.Telefone }}"
            },
            {
              "fieldId": "mensagem",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data[0].Mensagem }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2352,
        416
      ],
      "id": "95a56c0a-b877-4217-9228-7a2488be04f3",
      "name": "Cadastrar MSG",
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Tbl_Empresas",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "keyValue": "={{ $json.key_Empresa }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4448,
        320
      ],
      "id": "b1398f66-38fd-4cd2-aa8e-70ad60089efb",
      "name": "Verificar se Empresa Existe",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85d04941-33b3-437f-a42e-200719147e9a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3200,
        64
      ],
      "id": "1f0f5bc6-efc0-4470-a0b6-be1177ced280",
      "name": "Se Cliente Bloqueado",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Tbl_WhatsApp_Cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data[0].NumeroCliente }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4752,
        320
      ],
      "id": "387693bd-b834-4dbc-86d5-41936f989318",
      "name": "ConsultaCliente",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3088,
        -128
      ],
      "id": "a9c70a48-7274-412a-a0c6-ece9aa8ebe8d",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b46c5d8-deba-4560-914d-8625f2034967",
              "leftValue": "={{ $json.ai_ativa }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4160,
        320
      ],
      "id": "60f28655-04b8-43b9-aded-ef20adcd3ca4",
      "name": "Verifica AI_Ativa",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "={{ $('camposIniciais').item.json.api_Evolution }}/message/sendText/{{ $('camposIniciais').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('desativar').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"API Bloqueada\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3872,
        592
      ],
      "id": "e4aebdfe-1fe1-4f30-b666-350df25dc12f",
      "name": "MSG API Bloqueada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65b41c4c-db0d-4d6d-97e0-dc29ec657673",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            },
            {
              "id": "5171c62c-5b3d-41b2-ab4e-f0612fc02ee0",
              "name": "idmensagem",
              "value": "={{ $json.key_numero_cliente }}",
              "type": "string"
            },
            {
              "id": "17001cb5-3de1-4e82-9884-4c92a9da15e2",
              "name": "tempoMensagem",
              "value": "={{ $json.created_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -592
      ],
      "id": "e6d43042-9b47-4abf-a1b7-27e85ec46b01",
      "name": "Organizador 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65b41c4c-db0d-4d6d-97e0-dc29ec657673",
              "name": "mensagem",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "5171c62c-5b3d-41b2-ab4e-f0612fc02ee0",
              "name": "idmensagem",
              "value": "={{(JSON.parse($('camposIniciais').item.json.dados.camposIniciais).key).id}}",
              "type": "string"
            },
            {
              "id": "17001cb5-3de1-4e82-9884-4c92a9da15e2",
              "name": "tempoMensagem",
              "value": "={{DateTime.fromSeconds(Number(JSON.parse($('camposIniciais').item.json.dados.camposIniciais).tempoMensagem || 0))}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        -16
      ],
      "id": "33827573-180d-447e-87a9-231c7816b012",
      "name": "Organizador2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "617daf23-c1ef-427d-9df3-d49e71a3365e",
              "name": "ObjetoMensagem",
              "value": "={{ $json.data[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -576
      ],
      "id": "2d83f42e-50da-4a39-9dcf-2e993cfbe79f",
      "name": "Organizador3"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('When Executed by Another Workflow').item.json.data[0].numeroInstancia }}",
        "messageData": "={{ $json.ObjetoMensagem }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2576,
        -576
      ],
      "id": "8673ef74-4f3a-4684-92bf-6aa17ed33107",
      "name": "Criar Tabela",
      "credentials": {
        "redis": {
          "id": "rpCOUi93P9cj2fqI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "List_Array",
        "key": "={{ $('When Executed by Another Workflow').item.json.data[0].numeroInstancia }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2816,
        -576
      ],
      "id": "8e2304be-3bdf-4e74-afea-bef10a40a2af",
      "name": "Buscra Tabela_Rdis",
      "credentials": {
        "redis": {
          "id": "rpCOUi93P9cj2fqI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7808a4e1-dd7f-4b54-9219-9ae7f18d34f9",
              "name": "msgs",
              "value": "={{ \n$json.List_Array.map(item => JSON.parse(item).mensagem).join(' ').replace(/\\s+/g, ' ').trim()\n}}",
              "type": "string"
            },
            {
              "id": "eb0ed6f5-d670-4b6b-9a9e-fbee2b38538c",
              "name": "key",
              "value": "={{ $('When Executed by Another Workflow').item.json.data[0].numeroInstancia }}",
              "type": "string"
            },
            {
              "id": "215bea23-952e-41ef-a04b-fb4abf9ba85c",
              "name": "Nome_Cliente",
              "value": "={{ $('Consulta Cliente').item.json.Nome_Cliente }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3472,
        -560
      ],
      "id": "23f22924-d5e1-42c3-aede-0134ec8e6f8b",
      "name": "Organizador4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9b18715-895c-442f-b2b8-353bd94ee5b2",
              "name": "resposta",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4112,
        -560
      ],
      "id": "47aed293-fe81-4e3c-8802-8dbd6a6fdf6b",
      "name": "Oraganizador5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.List_Array.first()).idmensagem }}",
                    "rightValue": "={{ $('Aggregate').item.json.data[0].idmensagem }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "6b7f71a7-4d90-47b1-8d86-81001c6e7838"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nada a fazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c99aa02f-7992-4ab0-a36d-a51f6823d8fd",
                    "leftValue": "={{\n  DateTime.fromISO(JSON.parse($json.List_Array[0]).tempoMensagem)\n    .setZone('America/Sao_Paulo')\n}}",
                    "rightValue": "={{\n  DateTime.now().setZone('America/Sao_Paulo').minus({ seconds: 20 })\n}}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continuarTexto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "ESPERAR"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3008,
        -592
      ],
      "id": "fc2adfba-b391-4b71-9a47-787847d1986d",
      "name": "Switch2"
    },
    {
      "parameters": {
        "tableId": "Tbl_WhatsApp_Cliente",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome_Sistema",
              "fieldValue": "={{ $('desativar').item.json.body.data.pushName }}"
            },
            {
              "fieldId": "Telefone",
              "fieldValue": "={{ $('desativar').item.json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "fieldId": "senha",
              "fieldValue": "={{ $('desativar').item.json.body.data.key.remoteJid.split('@')[0] }}"
            },
            {
              "fieldId": "key_Empresa",
              "fieldValue": "={{ $('camposIniciais').item.json.dados.numeroInstancia.split(\"@\")[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3056,
        304
      ],
      "id": "3f07c9c5-998f-41ba-b725-b85c5404ee30",
      "name": "Criar Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "ConsultaServicosContabeis",
        "description": "=<agente>\n<função>\nSou responsável por apresentar e vender os serviços contábeis da JotaEmpresas, mostrando benefícios e tirando dúvidas de clientes.\n</função>\n\n<contexto>\nEspecialista em contabilidade para MEIs, Simples Nacional, Lucro Presumido e autônomos. Foco em mostrar valor, resolver dúvidas e incentivar a contratação.\n</contexto>\n\n<procedimentos>\n1. Apresentar os serviços contábeis e  listar serviços contábeis quando solicitado.\n2. Destacar benefícios: economia de tempo, redução de riscos e suporte especializado.\n3. Adaptar a oferta ao perfil do cliente (MEI, Simples, Presumido).\n4. Reforçar confiança, clareza e segurança do serviço.\n5. Encaminhar para <EncaminharAtendente> se o cliente desejar falar com humano.\n</procedimentos>\n\n<conduta>\n- Persuasivo, mas respeitoso\n- Não inventar preços\n- Responder dúvidas com clareza\n</conduta>\n</agente>\n",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "2vVWl9SlmD4kFwvn",
          "cachedResultName": "ConsultaServicosContabeis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados": "={{ $('camposIniciais').item.json.dados }}"
          },
          "matchingColumns": [
            "dados"
          ],
          "schema": [
            {
              "id": "dados",
              "displayName": "dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        4160,
        -208
      ],
      "id": "2a94bc3c-bb87-4e3c-bd78-35bae1b248a2",
      "name": "ConsultaServicosContabeis",
      "notesInFlow": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77567a07-a8b6-42b1-a056-b77fc9a23b74",
                    "leftValue": "={{ $json.Telefone }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "existe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7c2259d-582f-4fb8-a160-ff04a9d8ca4b",
                    "leftValue": "={{ $json.Telefone }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "N_Exiiste"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3312,
        288
      ],
      "id": "b5a7facb-7c11-4de8-b9fd-b9a72996dc96",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a4ffcf1-c827-4201-9aef-5773852e4861",
              "leftValue": "={{ $json.Nome_Cliente }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2512,
        112
      ],
      "id": "b4dc6b82-d4ce-4dd6-ae23-f149996d222d",
      "name": "Verificar se o nome do cliente esta cadastrado"
    },
    {
      "parameters": {
        "text": "={{ $('desativar').item.json.body.data.message.conversation }}",
        "attributes": {
          "attributes": [
            {
              "name": "nome",
              "description": "Extrair apenas o nome da pessoa da frase, e sempre confirme o nome da poessoa antes de cadastrar "
            },
            {
              "name": "confirmacao",
              "description": "Extrar true ou false quando o cliente confirmar o nome"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -2240,
        -320
      ],
      "id": "3e13b760-e962-46fe-acb1-340559dc059a",
      "name": "Information Extractor",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 1024,
          "temperature": 0.4,
          "topK": 20,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2256,
        -64
      ],
      "id": "bbbf7a3f-9048-4eaf-9eed-0f8464a382ca",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "141ifzSHRqqToKxL",
          "name": "Gemini_Bacu"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "608bcb2c-5e17-4d5c-b655-5808f1623329",
              "name": "NomeCliente",
              "value": "={{ $json.output.nome }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1904,
        -320
      ],
      "id": "5924dcc1-65bf-4579-a62b-7ab3a10102ea",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d387c3a-e863-4d96-a5f0-f4e6d63bceb6",
              "leftValue": "={{ $json.NomeCliente }}",
              "rightValue": "=null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1696,
        -304
      ],
      "id": "8b8acc9e-a506-4616-8187-aa0143aeb99e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b1d9660-3bf5-4b53-954e-6aa4e10f89ae",
              "name": "mensagem",
              "value": "Pergunte ao cliente qual o nome dele",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        -528
      ],
      "id": "7dcefd70-775e-4d89-9dd6-10dbb9f897f9",
      "name": "perguntar ao cliente o seu nome"
    },
    {
      "parameters": {
        "description": "indentificar qual tipo de suporte o cliente deseja",
        "workflowId": {
          "__rl": true,
          "value": "tkLuAUjLznNC7dph",
          "mode": "list",
          "cachedResultName": "WHATSAPP_ATENDENTE_ESPECIFICO(SUPORTE)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados": "={{ $('camposIniciais').item.json.dados }}"
          },
          "matchingColumns": [
            "dados"
          ],
          "schema": [
            {
              "id": "dados",
              "displayName": "dados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3984,
        -192
      ],
      "id": "5abb2a14-2a9c-4064-9bd2-88d43a7d46d0",
      "name": "Suporte"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 1024,
          "temperature": 0.4,
          "topK": 20,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3632,
        -368
      ],
      "id": "f41b21cb-f191-4fb3-87f5-901632b1d244",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "141ifzSHRqqToKxL",
          "name": "Gemini_Bacu"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Tbl_Empresas",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "keyValue": "={{ $json.NumeroCliente.split(\"@\")[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3984,
        -1360
      ],
      "id": "7e15c4db-47aa-479d-98a8-6a20f36b7c1f",
      "name": "Busca a Empresa",
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').item.json.api_Evolution }}/message/sendText/{{ $('camposIniciais').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('desativar').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"API Ativa\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        -1584
      ],
      "id": "0fdf7e14-9944-4953-9ace-2e6557c25477",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "{{ $('camposIniciais').item.json.api_Evolution }}/message/sendText/{{ $('camposIniciais').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('camposIniciais1').item.json.instancia }}\",\n  \"text\": \"API Dasativada\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        -1392
      ],
      "id": "aa9383f0-65cb-4bd9-9f23-f16f730fa26d",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Tbl_Empresas",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $('camposIniciais').item.json.dados.numeroInstancia.split(\"@\")[0] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ai_ativa",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2992,
        -1392
      ],
      "id": "93eee001-2712-4d27-93c4-bc7331128145",
      "name": "Desativar",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3200,
        -1088
      ],
      "id": "47e8e76c-d3db-4cdf-9c24-182b7e43c116",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43a3adfa-2e77-4d1f-a72e-55472b91a81d",
              "leftValue": "={{ $json.instancia }}",
              "rightValue": "={{ $json.NumeroCliente }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4208,
        -544
      ],
      "id": "0df69ff5-8a4c-4386-b3dc-41a418809231",
      "name": "Ativar/Desativar ou Responder",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Tbl_Empresas",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $('Busca a Empresa').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ai_ativa",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2992,
        -1584
      ],
      "id": "eef9cd5d-3701-4738-a8b0-8bbc795bf4ff",
      "name": "Ativar",
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d3b459b-0734-4033-b0cd-d0555008c72b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3840,
        -496
      ],
      "id": "aec7f83b-efba-4f70-aa74-14e7c06e593f",
      "name": "AtivarCliente",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16d60689-a259-4617-a38f-8267ce535b69",
              "name": "camposIniciais",
              "value": "={{ $json.dados }}",
              "type": "string"
            },
            {
              "id": "669aaa4f-ad0f-4982-906a-7c7a129adda2",
              "name": "menssageType",
              "value": "={{ $json.dados.menssageType }}",
              "type": "string"
            },
            {
              "id": "249b28ed-8ded-4946-943d-00c3990b3fad",
              "name": "NumeroCliente",
              "value": "={{ $json.dados.NumeroCliente.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "c6a7d174-6d63-430e-b26b-123dca75cf2b",
              "name": "instancia",
              "value": "={{ $json.dados.numeroInstancia.split(\"@\")[0] }}",
              "type": "string"
            },
            {
              "id": "10a05999-98ce-44e8-91b7-af9f59e08c3c",
              "name": "msg",
              "value": "={{ $json.dados.Mensagem }}",
              "type": "string"
            },
            {
              "id": "fdb8be34-31f8-4024-bfff-8f7c3b9ba3ed",
              "name": "cliente",
              "value": "={{ $('desativar').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "ef64f454-de83-477d-afdc-d9cb1c354513",
              "name": "clienteRef",
              "value": "={{ $('desativar').item.json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4752,
        80
      ],
      "id": "84db2b5c-1714-4e6e-bf83-30a76b1035ed",
      "name": "camposIniciais1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de160a1c-94b3-4220-8f15-5aa7067d4489",
              "leftValue": "={{ $('desativar').item.json.body.data.key.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4560,
        80
      ],
      "id": "9ac91775-6a8f-4556-bba9-1d8ce09264bd",
      "name": "Se a MSG e minha ou do Cliente1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('camposIniciais1').item.json.msg }}",
                    "rightValue": "=true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b6755389-ade5-4148-abdb-5ec69e3b9970"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ativar Bot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f6e5a168-b3d1-4b0f-aff9-15c063c31fda",
                    "leftValue": "={{ $('camposIniciais1').item.json.msg }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Desativar Bot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "555a3b92-0d66-428e-8d27-b2e859f1273b",
                    "leftValue": "={{ $('camposIniciais1').item.json.msg }}",
                    "rightValue": "={{ $json.Telefone }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3520,
        -1424
      ],
      "id": "7bc896cb-c349-4c7f-bff7-fe612dbbf32e",
      "name": "Switch",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Tbl_WhatsApp_Cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "keyValue": "={{ $('camposIniciais').item.json.dados.Mensagem }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3760,
        -1376
      ],
      "id": "76d51c6a-dd42-4e75-a3d8-2e103c2108e3",
      "name": "ConsultaCliente1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Tbl_WhatsApp_Cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2992,
        -1216
      ],
      "id": "212e48fc-78d0-4bce-b24f-17f4f831c6df",
      "name": "Ativar Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "{{ $('camposIniciais').item.json.api_Evolution }}/message/sendText/{{ $('camposIniciais').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('desativar').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"Cliente Foi Desbloqueado : {{ $json.Nome_Cliente }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2768,
        -1232
      ],
      "id": "84e81b77-66a3-45f4-8131-1965864d621b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Tbl_WhatsApp_Cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "=true"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3648,
        -592
      ],
      "id": "d8b6f8b6-c396-46e8-a500-c7d65a3ff23c",
      "name": "Bloquear Cliente",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').item.json.api_Evolution }}/message/sendText/{{ $('camposIniciais').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('camposIniciais').item.json.dados.numeroInstancia }}\",\n  \"text\": \"Cliente Bloqueado: {{ $('ConsultaCliente2').item.json.Nome_Sistema }}\\nCom Nome: {{ $('ConsultaCliente2').item.json.Nome_Cliente }}\\nNúmero: {{ $('ConsultaCliente2').item.json.Telefone }}\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3440,
        -480
      ],
      "id": "c715ac49-3e01-450e-981e-e5e89ace02bf",
      "name": "MSG Bloqueio"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Tbl_WhatsApp_Cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "keyValue": "={{ $json.NumeroCliente }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4000,
        -512
      ],
      "id": "204f64fd-7e8a-4a25-8da9-011ca612c551",
      "name": "ConsultaCliente2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3696,
        -816
      ],
      "id": "9a31d8ac-d225-4b6a-ab65-a686798124fd",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Nome_Cliente }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "5d16a1e1-6e8e-44da-9cf0-8497e32d99fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nãoExiste"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f795f32a-bce6-4158-bb52-86db01755a25",
                    "leftValue": "={{ $json.Nome_Cliente }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2864,
        96
      ],
      "id": "f83e9880-a8c7-45a0-8744-7d24f203fd2c",
      "name": "nome existe?"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        160,
        -96
      ],
      "id": "58d8bf30-2b1f-4df4-8125-d4f5e6bbe1a9",
      "name": "Convert to File",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=mensegem do cliente : {{ $json.List_Array.map(item => JSON.parse(item).mensagem).join(', ') }}, o nome do cliente é {{ $json.Nome_Cliente }}",
        "options": {
          "systemMessage": "=<agente>\n<identidade>\n- Nome do agente:  Jota Assistente\n- Cargo/função: Atendente Virtual de Vendas da Jota Empresa\n- Tom de voz: Persuasivo, cordial e confiável.\n- Estilo de linguagem: Claro, direto e voltado a resultados, em formato para WhatsApp\n</identidade>\n<função>Sou responsável por **apresentar e vender os serviços da JotaEmpresas**, convencendo o cliente do valor e benefícios de contratar nossos serviços.\nServiços como , serviços contábeis, venda de certificado digital, venda  e instalação do sistema gdoor, regularização , constituição , alteração  e baixa de empresas , registro de funcionários e assessoria trabalhista, calculo trabalhista, legalização de associações, ongs, institutos , somos especialista em micro e pequenas empresas, dentre outros ...\n</função>\n<contexto>\nAgente especializado em contabilidade para micro e pequenas empreas, MEIs, Empresas do Simples Nacional, Lucro Presumido e profissionais autônomos, com foco em demonstrar valor, tirar dúvidas e incentivar a contratação.\n</contexto>\n<restrições>\n- O nome do cliente já está definido como: \"{{ $('Consulta Cliente').item.json.Nome_Cliente }}\".\n- Nunca pergunte novamente o nome se ele já existir.\n- Cumprimente sempre usando este nome.\n- Não inventar preços ou serviços \n- Nunca inventar informações sobre serviços ou preços\n- Não pressionar o cliente de forma agressiva\n- Não pode ser muitas informações ao mesmo tempo\n- Não gere todas as resposta de uma vez\n- nunca compramos nada para o cliente\n- nunca paga,os nenhum tipo de boleto para o cliete\n- Todas as taxas são enviadão para o cleinte para pagamento , nunca pagamos taxas ou impostos para o cliente\n-Recebemos apenas nossos honorários contratados nada alem disso\n- no momento só conseguimos receber mensagens em áudio ou texto\n</restrições>\n\n<instruções>\n  <saudação_e_identificação>\n  \"Crie uma saudação variada a cada vez que o cliente entrar em contato no dia, exemplo , se for a primeira vez no dia: Olá {{ $json.Nome_Cliente }} que bom o seu retorno como posso ajudar?, podendo variar conforme o horário, bom dia horario entre 00:01 as 12:00 , boa tarde horario entre 12:01 as 18:00 , boa noite horário entre 18:01 as 00:00”, o texto também!\n“caso seja a primeira vez quando não tiver no histórico da conversa o nome do cliente faça a saudação temporal e pergunte  qual o seu nome”\n </saudação_e_identificação>\n\n  <identificar_necessidade_do_cliente>\nSempre observar os seguintes pontos, se o cliente é a primeira vez seu contato, quais serviços ele deseja, e dependendo do tipo do serviço é importante saber se é empresa ou pessoa física, se possui ou não certificado digital, se o cliente tem ou sebe a senha do gov.br, se possui funcionários, entendendo o cliente de forma natural\n  </identificar_necessidade_do_cliente>\n\n  <procedimentos>\n  1. Usar a ferramenta <ConsultaServicosContabeis> para apresentar todos os serviços disponíveis, quando o cliente quiser contratar os serviços contábeis;\n  2. Destacar benefícios diretos (economia de tempo, redução de riscos, suporte especializado)\n  3. Adaptar a oferta ao perfil do cliente\n  4. Tirar dúvidas sobre preços, obrigações fiscais e processos\n  5. Reforçar confiança e segurança do serviço\n  6. Oferecer agendamento com consultor humano para fechamento do contrato\n7. Usar ferramenta <ConsultarServicosCertificado> para apresentar todos os serviços disponíveis, quando o cliente quiser comprar certificado digital\n8. Usar a ferramenta < ConsultarServicosGdoor> para apresentar todos os serviços disponiveis e sistemas disponiveis, quando o cliente quiser comprar o software gdoor\n9. Usar ferramenta <ConsultaDadosCliente> inicialmente para saber se o cliente e novato ou não, pois se o cliente não for novato ter outra abordagem\n10. quando for socilitado pelo cliente ou quando todas as explicações e duvidas já tiverem sido tiradas e o cliente não se decidiu qual serviço deseja , encaminhar para a ferramenta <EncaminharAtendente>\n  </procedimentos>\n  <resolução_de_dúvidas>\n  \"Entendo sua dúvida, [Nome]. Um momento que verifico a melhor solução para o seu caso...\"\n  </resolução_de_dúvidas>\n  <encerramento>\n  \"Fico feliz que tenha se interessado, [Nome]. Posso agendar agora mesmo uma reunião com nosso consultor  para que possamos iniciar o serviço e cuidar de toda a parte documental de da sua empresa?\"\n  </encerramento>\n</instruções>\n<conduta_profissional>\n- Ser persuasivo, mas cordial e respeitoso\n- Focar em benefícios reais para o cliente\n- Adaptar discurso ao perfil do cliente\n- Escutar e responder dúvidas com clareza\n</conduta_profissional>\n<ferramentas>\n<ferramenta nome=\"ConsultaServicosContabeis\">\n- Função: Informar detalhes de todos os serviços contábeis\n- Quando usar: Sempre que cliente solicitar informações ou dúvidas\n- Como retornar: Listar serviços, benefícios, preços e links de referência\n</ferramenta name=\"Suporte\">\n- Função: Indentificar qual suporte o cliente deseja\n- Quando usar: Sempre que cliente solicitar que quer falar com atendente\n- Como retornar: perguntar qual suporte deseja e assim que indentificar encaminhar\n-somente encaminha para a ferramenta quando indentificar qual tipod e suporte o cliente deseja, ou com quem ele quer falar\nAndre =  setor fiscal\ngildson = setor de legalização e alvará\nsuely = setor financeiro\ntatiana =  setor de folha de pagamento\n<ferramenta>\n</ferramenta>\n</ferramentas>\n<lembretes_importantes>\n- Certificado digital vendemos\n- Evite explicar tudo de uma so vez, entenda o cliente e explique compasadamente de acordo com o fluxo da conversa\n- Focar sempre em resolver problemas do cliente\n- Reforçar segurança e confiabilidade da empresa\n- Oferecer atendimento humano sempre que necessário\n- Sempre oferecer solução adaptada ao perfil do cliente\n-sempre priorize resumir , de forma compreensível para o cliente\n- mantenho o formato para whatsapp\n- sempre mantenha um dialogo com o cliente para melhor entender suas duvidas antes de sair explicando tudo de uma vez só\n- sempre seja o mais humanizado possível\n</lembretes_importantes>\n<dados_da_empresa>\n<endereço>Rua Coronel José do ó , 1645, mosqueiro</endereço>\n<telefone>(91) 9 9629-3532</telefone>\n<email>contador@jotaempresas.com</email>\n<horario_funcionamento>Seg-Sex 09:00-18:00</horario_funcionamento>\n<site>\nHome: https://jotaempresas.com/page/\nLoja : https://jotaempresas.com/page/loja/\ncontabilidade : https://jotaempresas.com/page/contabilidade/\nmei : https://jotaempresas.com/page/mei/\n</site>\n<descrição>\nA JotaEmpresas oferece serviços contábeis completos, com foco em MEIs, pequenas empresas e autônomos, garantindo economia, conformidade fiscal e suporte especializado.\n</descrição>\n</dados_da_empresa>\n</agente>\n</agentes>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3728,
        -560
      ],
      "id": "100c634d-8254-4294-8070-11b30325f05d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('When Executed by Another Workflow').item.json.data[0].numeroInstancia }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3264,
        -560
      ],
      "id": "90545ab9-1cf1-4c51-8f72-65da69671eac",
      "name": "deletar texto",
      "credentials": {
        "redis": {
          "id": "rpCOUi93P9cj2fqI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').item.json.api_Evolution }}/message/sendText/{{ $('camposIniciais').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('desativar').item.json.body.data.key.remoteJid }}\",\n  \"text\": \"👉 Desculpe, no momento só conseguimos receber mensagens em áudio ou texto.\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        288
      ],
      "id": "8285d40c-f3e3-4cf2-85e6-3cdefdf69cbd",
      "name": "MSG API Bloqueada1"
    },
    {
      "parameters": {
        "functionCode": "// escolhe um modelo aleatório\nconst models = [\n  'Google_Bacu',\n  'Google_Jota',\n  'Google_Calistenico',\n  'Google_Jmoka',\n  'Google_Bucolica'\n];\nconst escolha = models[Math.floor(Math.random() * models.length)];\n\n// mantém o binário para o próximo nó\nreturn items.map(item => ({\n  json: { modelo: escolha },\n  binary: item.binary\n}));"
      },
      "id": "746b75e9-fca2-4e0d-a53d-d77018374be4",
      "name": "Escolher Modelo Aleatório",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        -96
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "What's in this audio? responda em pt br",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        -368
      ],
      "id": "10028400-48d1-416d-8b65-387bedbea229",
      "name": "Google_Bacu",
      "credentials": {
        "googlePalmApi": {
          "id": "141ifzSHRqqToKxL",
          "name": "Gemini_Bacu"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.modelo }}",
                    "rightValue": "Google_Bacu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d910cd3a-7f67-4d04-8e29-1e63b415a5a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bacu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11819989-138d-4e5c-a695-81052b8c0aaa",
                    "leftValue": "={{ $json.modelo }}",
                    "rightValue": "Google_Jota",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jota"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88e79bb9-3b60-4b50-bf1b-75416e5a6e5d",
                    "leftValue": "={{ $json.modelo }}",
                    "rightValue": "Google_Calistenico",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Calistenico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b1d212a3-32cb-4b33-a8a4-00e9ff7e28ed",
                    "leftValue": "={{ $json.modelo }}",
                    "rightValue": "Google_Jmoka",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jmoka"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e15260d8-3e33-4e02-adba-354eb4ef1620",
                    "leftValue": "={{ $json.modelo }}",
                    "rightValue": "Google_JotaOnline",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bucolica"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        768,
        -96
      ],
      "id": "a87c7e89-bb37-454c-b24d-4f01d9fc3cd2",
      "name": "Switch3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "What's in this audio? responda em pt br",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        -192
      ],
      "id": "314ee876-7c0c-436a-94f4-c7a6530e758b",
      "name": "Google_JotaEmoresas",
      "credentials": {
        "googlePalmApi": {
          "id": "FHEvZi26wZiAcnY6",
          "name": "Gemini_JotaEmpresas"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "What's in this audio? responda em pt br",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        -32
      ],
      "id": "a8b7d3dd-5deb-4f3e-9b45-59e40903fbb0",
      "name": "Google_Calistenico",
      "credentials": {
        "googlePalmApi": {
          "id": "VKjIDK0GPKy4q4aX",
          "name": "gemini_Calistenico"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "What's in this audio? responda em pt br",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        128
      ],
      "id": "0c2acbc7-1f48-4166-9e23-0717ff010816",
      "name": "Google_Jmoka",
      "credentials": {
        "googlePalmApi": {
          "id": "NxY9HcP7bMYqDcvs",
          "name": "Gemini_Jmoka"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "What's in this audio? responda em pt br",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1216,
        304
      ],
      "id": "0dfea130-1006-47c4-a16e-a51a03a39439",
      "name": "Google_Bucolica",
      "credentials": {
        "googlePalmApi": {
          "id": "MJiDBfGLSXE46Mo3",
          "name": "Google _Bucolica"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Tbl_WhatsApp_Cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "condition": "eq",
              "keyValue": "={{ $('desativar').item.json.body.data.key.remoteJid.split(\"@\")[0] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome_Cliente",
              "fieldValue": "={{ $json.NomeCliente }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1584,
        -48
      ],
      "id": "801c7bc8-f0f2-4eda-9ca9-de8d74b8932c",
      "name": "cadastrar nome cliente2",
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('desativar').item.json.body.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2592,
        -400
      ],
      "id": "1014f481-7445-45b6-9078-cbd6d82d7a17",
      "name": "deletar texto1",
      "credentials": {
        "redis": {
          "id": "rpCOUi93P9cj2fqI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c1d3ec4-b505-4cb7-ba5f-3f9972d7533f",
              "name": "base64",
              "value": "={{ $('When Executed by Another Workflow').item.json.data[0].base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -96
      ],
      "id": "3a5385a5-7c62-4e03-b570-6fd2fa82183f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3f395c9-be2d-44e4-9cb0-0d6a28711f02",
              "name": "base64",
              "value": "={{ $('desativar').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        16
      ],
      "id": "98b3fecb-2704-4480-a9b5-148f8e861262",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "64b",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -432,
        32
      ],
      "id": "90e6923f-4df5-463c-8f9b-6f9df01970fb",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('camposIniciais').item.json.api_Evolution }}/message/sendText/{{ $('camposIniciais').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "={{ $('Edit Fields2').item.json.base64 }}",
              "inputDataFieldName": "=64b"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        80
      ],
      "id": "92e6836f-9196-46ef-904f-61011dc84841",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -5728,
        304
      ],
      "id": "40c41e48-ddef-411f-8ac5-5b8a071ba49b",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Buscra Tabela_Rdis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TipoMSG": {
      "main": [
        [
          {
            "node": "Organizador 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSG API Bloqueada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "camposIniciais": {
      "main": [
        [
          {
            "node": "Se a MSG e minha ou do Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Organizador3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codigo para Separar uma mensagem longa em vria menores": {
      "main": [
        [
          {
            "node": "Split Out- envia uma a uma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out- envia uma a uma": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se a MSG e minha ou do Cliente": {
      "main": [
        [
          {
            "node": "camposIniciais1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConsultaCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empresa existe": {
      "main": [
        [
          {
            "node": "Consulta Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriarEmpresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriarEmpresa": {
      "main": [
        [
          {
            "node": "Consulta Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Cliente": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar MSG": {
      "main": [
        [
          {
            "node": "TipoMSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se Empresa Existe": {
      "main": [
        [
          {
            "node": "Verifica AI_Ativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se Cliente Bloqueado": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nome existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaCliente": {
      "main": [
        [
          {
            "node": "Verificar se Empresa Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica AI_Ativa": {
      "main": [
        [
          {
            "node": "Empresa existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSG API Bloqueada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador 1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador3": {
      "main": [
        [
          {
            "node": "Criar Tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Tabela": {
      "main": [
        [
          {
            "node": "Buscra Tabela_Rdis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscra Tabela_Rdis": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizador4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Oraganizador5": {
      "main": [
        [
          {
            "node": "Codigo para Separar uma mensagem longa em vria menores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Nada a Fazer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "deletar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente": {
      "main": [
        [
          {
            "node": "Cadastrar MSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaServicosContabeis": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Se Cliente Bloqueado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se o nome do cliente esta cadastrado": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar MSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "perguntar ao cliente o seu nome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cadastrar nome cliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "perguntar ao cliente o seu nome": {
      "main": [
        [
          {
            "node": "TipoMSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suporte": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Busca a Empresa": {
      "main": [
        [
          {
            "node": "ConsultaCliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desativar": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ativar/Desativar ou Responder": {
      "main": [
        [
          {
            "node": "Busca a Empresa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ConsultaCliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ativar": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtivarCliente": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSG Bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "camposIniciais1": {
      "main": [
        [
          {
            "node": "Se a MSG e minha ou do Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se a MSG e minha ou do Cliente1": {
      "main": [
        [
          {
            "node": "Ativar/Desativar ou Responder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar se Empresa Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Ativar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Desativar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ativar Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "ConsultaCliente1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ativar Cliente": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear Cliente": {
      "main": [
        []
      ]
    },
    "ConsultaCliente2": {
      "main": [
        [
          {
            "node": "AtivarCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nome existe?": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar se o nome do cliente esta cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Escolher Modelo Aleatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Oraganizador5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deletar texto": {
      "main": [
        [
          {
            "node": "Organizador4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escolher Modelo Aleatório": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_Bacu": {
      "main": [
        [
          {
            "node": "Organizador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Google_Bacu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google_JotaEmoresas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google_Calistenico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google_Jmoka",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google_Bucolica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_JotaEmoresas": {
      "main": [
        [
          {
            "node": "Organizador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_Calistenico": {
      "main": [
        [
          {
            "node": "Organizador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_Jmoka": {
      "main": [
        [
          {
            "node": "Organizador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_Bucolica": {
      "main": [
        [
          {
            "node": "Organizador2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastrar nome cliente2": {
      "main": [
        [
          {
            "node": "TipoMSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "camposIniciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06c42881-5182-430d-8cc1-487730fc4553",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d6a81903df25a55a6d6de4c95daa350b74c6e400ef38aa531aa16f227a14a4d"
  },
  "id": "qTjU4E6NsSxbF0gP",
  "tags": []
}