WHATSAPP_ATENDENTE_ESPECIFICO(JOTA).json
{
  "name": "ConsultaServicosContabeis",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "dados",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -208
      ],
      "id": "8e48421f-7030-4bc5-a80e-cbecfd8a7fe9",
      "name": "ConsultaServicosContabeis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87692412-aa11-4ea0-a895-64a25121f62a",
              "name": "mensagem",
              "value": "={{ $json.dados.Mensagem }}",
              "type": "string"
            },
            {
              "id": "fe87c0c9-d111-4ea0-97be-9be86f9887cc",
              "name": "INSTANCIA",
              "value": "={{ $json.dados.numeroInstancia.split(\"@\")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -208
      ],
      "id": "6d7175f2-455f-4285-966f-a67ad3f7ec9d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 1024,
          "temperature": 0.4,
          "topK": 20,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        -32
      ],
      "id": "a638ef94-7bfb-426f-9e79-492e1e2cfef6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "141ifzSHRqqToKxL",
          "name": "Gemini_Bacu"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "msg",
        "key": "={{ $('ConsultaServicosContabeis').item.json.dados.NumeroCliente }}",
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -208,
        -208
      ],
      "id": "6618b21d-db11-45f8-bc80-3b05c16e3a4c",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "rpCOUi93P9cj2fqI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -64,
        -208
      ],
      "id": "1ef25381-a5b4-4f62-a082-41be4b53d94f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a148d85a-28b0-43e5-8356-29727530cefd",
              "name": "ultimaMSG",
              "value": "={{ $('Edit Fields').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "58d87682-5fd6-4e65-8cbf-bfad50652392",
              "name": "historioco",
              "value": "={{ $json.data[0].msg.map(item => JSON.parse(item).mensagem).join(\"\\n\") }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -208
      ],
      "id": "ba4ae493-6cfe-4bf6-b370-5026a6bf4f12",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ultimaMSG }}, {{ $json.historioco }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um classificador de mensagens de clientes para identificar o serviço contábil correto.  Analise a mensagem abaixo do cliente e retorne **apenas no formato JSON**, preenchendo o campo `labels` com o serviço identificado.  Mensagem do cliente: \"{{ $json.ultimaMSG }}\"  Regras: - Se o cliente falar em abrir empresa, constituição, alteração ou baixa → use \"ALTERACAO CONSTITUICAO E BAIXA DE EMPRESA\" - Se mencionar MEI → use \"MEI\" - Se mencionar Simples Nacional → use \"SIMPLES NACIONAL\" - Se mencionar Lucro Presumido → use \"LUCRO PRESUMIDO\" - Se falar sobre registro, contratação ou funcionário → use \"REGISTRO DE FUNCIONARIO\" - Se mencionar licença, alvará ou legalização → use \"LICANCA E ALVARA\" - Se houver mais de um serviço, liste todos no array - Não invente serviços que não estão no enum  Formato de saída obrigatório: {   \"labels\": [\"NOME_DO_SERVIÇO\"] }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        -208
      ],
      "id": "dc91a1ea-b941-4301-b150-fb4c658fcf82",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4e75204-e8eb-4ac4-8e03-f1b2ab90be65",
              "name": "Tributacao",
              "value": "={{ $json.output.labels[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -208
      ],
      "id": "a875d746-c0f7-4dc7-8f42-1020688620ee",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\n  \"type\": \"object\",\n\n  \"properties\": {\n\n    \"labels\": {\n\n      \"type\": \"array\",\n\n      \"items\": {\n\n        \"type\": \"string\",\n\n        \"enum\": [\"MEI\", \"SIMPLES NACIONAL\", \"LUCRO PRESUMIDO, ALTERACAO CONSTITUICAO E BAIXA DE EMPRESA, REGISTRO DE FUNCIONARIO, LICANCA E ALVARA\"]\n\n      }\n\n    }\n\n  },\n\n  \"required\": [\"labels\"]\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        -32
      ],
      "id": "60d2514d-287c-4cd6-99ee-2638b7963d7e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "tbl_serviços_produtos",
        "filters": {
          "conditions": [
            {
              "keyName": "nome",
              "keyValue": "={{ $json.Tributacao }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        -208
      ],
      "id": "b419ee84-b585-496a-92d9-3888af50c566",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "mGTQ4aUKloXMZy0V",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ConsultaServicosContabeis": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f2fca435-c6ca-4405-bc53-7a1b57c198a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d6a81903df25a55a6d6de4c95daa350b74c6e400ef38aa531aa16f227a14a4d"
  },
  "id": "2vVWl9SlmD4kFwvn",
  "tags": []
}